[*#

	Jemplate Template for viewing complex data's details in print-friendly mode.

	See Complex_Details.tt for info on how incoming JSON should look.

*]

[*# tell our Complex_Details.tt to not have the tab. *]

[% SET dont_do_tabs = 1 %]

[* INCLUDE Complex_Details.tt *]

